/* make scrolling smooth */

html {
    scroll-behavior: smooth;    
}

/* 
 get rid of padding & sizing on body so
 header is at top
*/

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;   
}

/* add some padding back to rest of page */

main {
    padding: 2vw;
}

header img {
    height: 6vw;
    width: 6vw;
}

#hero {
    margin-top: 170px;
}

/* navbar */

header {
    background: #000;
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 2em;
    height: 100%;
    display: flex;
    align-items: center;

}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: "";
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    background: #000;
    text-align: right;
    width: 100%;
    top: 100%;
    right: 0;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-right: 1em;
}

nav a {
    color:whitesmoke;
    text-decoration: none;
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 150ms ease-in-out ;
}

nav a:hover {
    color: #0433aa;
}

.nav-toggle:checked ~ nav {
   transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 70em) {
    .nav-toggle-label{
        display: none;
    }

    #hero {
        margin-top: 80px;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
    }

    header img{
        grid-column: 1/1;
        align-items: center;

    }
    .logo {
        grid-column: 2 / 3;
    }

    nav {
        all: unset;
        grid-column: 3 /4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: #c9ebe2;
        position: absolute;
        top: -1em;
        left: 0;
        right: 0;
        transform: scale(0,1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover:before {
        transform: scale(1,1);
    }

}