/* * {
    outline: 1px solid red;
}

 */body {
    font-family: "Audiowide", serif;
    font-weight: 400;
    font-style: normal;;
    background-color: #f0bea6;
    color: #0433aa;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Monda", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    text-align: center;
    font-size:40pt;
}

h2 {
    font-size:20pt;
}
header {
    text-align: center;
}

/* Hero Section */

#hero, footer {
    color: #c9ebe2;
    border: 2px solid #224863;
    background-color: #99876c;
    text-align: center;
    padding: 10px;
}

#hero img {
    width: 300px;
}

/* Bio Section */

#bio {
    text-align: center;

}

/* Hobies Section */

#hobbies ul li {
    border-left: 5px solid red;
    background-color: #f1f1f1;
    list-style-type:none;
    padding: 10px 20px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Gallery Section */

#gallery {
    border: 4px solid #4F6270;
    margin-bottom: 2rem;
}

#gallery img {
    max-width:100%;
    border: 5px solid white;
}

#gallery figure {
    text-align: center;
}

/* Literature */

#lit {
    border: 4px solid #4F6270;
    margin-bottom: 2rem;

}

#lit div {
    padding:2rem;
    max-width: 40rem;
    margin: 0 auto;
}

#lit div p {
    padding: 0.3rem 0;
    clear:both;
}

/* Dropcaps */

#lit div p:first-child:first-letter {
    color: darkgreen;
    background-color: whitesmoke;
    float:left;
    font-size: 2em;
    padding:.25em;
    margin-right:.25em;
    line-height:.65;
    border:3px solid black;
    font-family: 'Brush Script MT', cursive;
    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
    box-shadow: 4px 4px 4px rgba(0,0,0,.5);   
}

/* tablet size */
@media screen and (min-width: 60em) {
    
    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;
    }

    figure img {
        width: 100%;
    }

    #lit div {
        max-width: 100%;
        columns: 25rem;
    }
}

/* full screen size */
@media screen and (min-width: 100em) {
    
    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    hr {
        display: none;
    }

    #gallery h2 {
        grid-column: 1/-1;
    }

    figure {
        display: block;
    }

    #lit div {
        max-width: 100%;
        columns: 30rem;
    }
}