body {
    font-family: "Audiowide", serif;
    font-weight: 400;
    font-style: normal;;
    background-color: #f0bea6;
    color: #2b64ef;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Monda", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    text-align: center;
    font-size:40pt;
}

h2 {
    font-size:20pt;
}
header {
    text-align: center;
}

/* Hero Section */

#hero, footer {
    color: #9BBCB3;
    border: 2px solid #4F6270;
    background-color: #9b7e53;
    text-align: center;
    padding: 10px;
}

#hero img {
    width: 300px;
}

/* Bio Section */

#bio {
    text-align: center;

}

/* Hobies Section */

#hobbies ul li {
    border-left: 5px solid red;
    background-color: #f1f1f1;
    list-style-type:none;
    padding: 10px 20px;
    color: black;
}

/* Gallery Section */

#gallery {
    border: 4px solid #4F6270;
    margin-bottom: 2rem;
}

#gallery img {
    max-width:100%;
    border: 5px solid white;
}

#gallery figure {
    text-align: center;
}

/* Literature */

#lit {
    border: 4px solid #4F6270;
    margin-bottom: 2rem;

}

#lit div {
    padding:2rem;
    max-width: 40rem;
    margin: 0 auto;
}

#lit div p {
    padding: 0.3rem 0;
    clear:both;
}

/* Dropcaps */

#lit div p::first-letter {
    color: darkgreen;
    background-color: whitesmoke;
    float:left;
    font-size: 2em;
    padding:.25em;
    margin-right:.25em;
    line-height:.65;
    border:3px solid black;
    font-family: 'Brush Script MT', cursive;
    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
    box-shadow: 4px 4px 4px rgba(0,0,0,.5);
    
}